.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-features {
    width: 55%;
    margin-left: 22.3%;
}

.width-20 {
    width: 30%
}

.align-right {
    margin-left: auto;
}

body {
    padding-top: 80px;
}

.link {
    width: 750px; /* Set your desired width */
}

.toggle-switch:checked {
    background-color: blue; /* Change color when checked */
}

.col-6-25 {
    width: 6.25%;
}

.col-11 {
    width: 11%;
}

.err {
    width: 69%
}

@media (min-width: 768px) {
    .w-md-60 {
      width: 60% !important;
    }
}

/* Debugging */

.db1 {
    background-color: red;
}

.db2 {
    background-color: yellow;
}

.db2 {
    background-color: green;
}